body {
  margin: 0;
  background-color: #F3F3F3;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-main {
  /* background-color: #9FB3D3; */
  width: 100%;
  height: 70px;
  padding: 5px;
  align-items: center;
}

.profile-menu {
  transition: transform;
  transition-duration: 0.5s;
}
.profile-menu:hover {
  transform: scale(1.2);
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}